<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main HTML Page</title>
  </head>
  <body>
    <h1>Patient trajectory</h1>

    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="type" value="upload" />
      <input type="file" name="files" multiple />
      <button type="submit">Upload</button>
    </form>

    {% include 'simple_network2.html' %}

    <div>
      <h3>Node information</h3>

      Id: <span id="id"></span>

      <form method="POST">
        <input type="hidden" name="type" value="predict" />
        <input type="hidden" name="id" id="predictId" value="">
        <button type="submit">Predict</button>
      </form>
    </div>

    <hr>

    <div>
      <form method="POST">
        <input type="hidden" name="type" value="add" />
        <label for="symptom">Add:</label>
        <input type="text" name="symptom" />
        <button type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
